
{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% load crispy_forms_field %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
     {% if messages %}
{#                        <ul class="messages">#}
                        {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-warning alert-dismissible fade show" role="alert"{% endif %}>
                                {{ message }}
                            {{ error|escape }}
                            </div>
                        {% endfor %}
{#                        </ul>#}
                    {% endif %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">

                <form method="POST" action="">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </form>
            </div>
          </div>
        {% if 'test_edit' in request.path %}
          <div class="row">
                      <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <h2> &nbsp;</h2>
                <button class="btn btn-info btn-block " data-toggle="modal" data-target="#addQuestionModal"><i data-feather="file-plus"> </i> Add question</button>
                      </div><div class="col-12 col-sm-8 col-md-6 col-lg-8 offset-sm-2 offset-md-3 offset-lg-2">
             <table class="table table-hover ">


        <tbody>
                 {% for question in object.test_questions.all %}
            <tr >
                <td class="align-middle">{{ question.text }}</td>


{#                    <td><a href="{% url 'tests:test_edit' test.id %}" class="btn btn-outline-warning btn-sm"><i data-feather="edit"></i>#}
{#                        </i> Edit</a></td>#}
                    <td class=" align-middle text-right">
                    <form method="POST"
                              action="{% url "tests:delete_question"  question.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="test_id" id="test_id" value="{{ test.id }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i data-feather="delete"></i>
                    </i> Delete</button>
                        </form>



            </tr>
            {% endfor %}
        </tbody>
    </table>
            </div>

          </div>
        {% endif %}
        </div>
      </div>
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="{% url "tests:add_question"%}">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Add question</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
  <input type="hidden" name="test_id" value="{{ test.id }}">
    {% for field in add_question_form %}

      <div class="form-group{% if field.errors %} invalid{% endif %}">
{#        <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
        {{ field|as_crispy_field }}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="submit-btn btn btn-primary">Add</button>
  </div>

</form>
    </div>
  </div>
</div>
{% endblock content %}