{% extends 'base.html' %}
{% block title %} test {{ test.title }}{% endblock title %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_field %}


<div class="container emp-profile" style="margin-top: 30px">
                <div class="row">
                    <div class="col-md-6 ">

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-10 offset-md-1">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>test</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ test.title }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>about</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ test.description }}</p>
                                            </div>
                                        </div>


                            <div class="col-md-4 offset-md-3">

                    </div>
                        </div>

        <div class="form-group">
            <div class="panel-body">
            <form method="post" action="{% url "tests:tests"%}">{% csrf_token %}<input type="hidden" name="test_id" value="{{ test.id }}">
{#                        {{ test_form|crispy }}#}
                    {% for field in test_form %}
                        <div class="my-3 p-3 bg-white rounded box-shadow  form-row" style="box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;">
                    {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
{#                <input type="text" class="form-control mr-3" placeholder="Add comment">#}

                <button class="btn btn-primary" type="submit">Submit</button></div>
            </form>

            </div>
        </div>
    </div>
</div>
    {% endblock content %}
